In [927]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

In [928]:
hh_data = pd.read_csv('C:\IDE\data\Project -1\dst-3.0_16_1_hh_database.csv', sep=';')
display(hh_data.head(5))

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [929]:
display(hh_data.head(5))

,"Пол, возраст",ЗП,Ищет работу на должность:,"Город, переезд, командировки",Занятость,График,Опыт работы,Последнее/нынешнее место работы,Последняя/нынешняя должность,Образование и ВУЗ,Обновление резюме,Авто
0,"Мужчина , 39 лет , родился 27 ноября 1979",29000 руб.,Системный администратор,"Советск (Калининградская область) , не готов к...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, ва...",Опыт работы 16 лет 10 месяцев Август 2010 — п...,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,Неоконченное высшее образование 2000 Балтийск...,16.04.2019 15:59,Имеется собственный автомобиль
1,"Мужчина , 60 лет , родился 20 марта 1959",40000 руб.,Технический писатель,"Королев , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, полный день, сменный график, уд...",Опыт работы 19 лет 5 месяцев Январь 2000 — по...,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",Высшее образование 1981 Военно-космическая ак...,12.04.2019 08:42,Не указано
2,"Женщина , 36 лет , родилась 12 августа 1982",20000 руб.,Оператор,"Тверь , не готова к переезду , не готова к ком...",полная занятость,полный день,Опыт работы 10 лет 3 месяца Октябрь 2004 — Де...,ПАО Сбербанк,Кассир-операционист,Среднее специальное образование 2002 Профессио...,16.04.2019 08:35,Не указано
3,"Мужчина , 38 лет , родился 25 июня 1980",100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,"Саратов , не готов к переезду , готов к редким...","частичная занятость, проектная работа, полная ...","гибкий график, удаленная работа",Опыт работы 18 лет 9 месяцев Август 2017 — Ап...,OpenSoft,Инженер-программист,Высшее образование 2002 Саратовский государст...,08.04.2019 14:23,Не указано
4,"Женщина , 26 лет , родилась 3 марта 1993",140000 руб.,Региональный менеджер по продажам,"Москва , не готова к переезду , готова к коман...",полная занятость,полный день,Опыт работы 5 лет 7 месяцев Региональный мене...,Мармелад,Менеджер по продажам,Высшее образование 2015 Кгу Психологии и педаг...,22.04.2019 10:32,Не указано

In [930]:
display(hh_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44744 entries, 0 to 44743
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Пол, возраст                     44744 non-null  object
 1   ЗП                               44744 non-null  object
 2   Ищет работу на должность:        44744 non-null  object
 3   Город, переезд, командировки     44744 non-null  object
 4   Занятость                        44744 non-null  object
 5   График                           44744 non-null  object
 6   Опыт работы                      44576 non-null  object
 7   Последнее/нынешнее место работы  44743 non-null  object
 8   Последняя/нынешняя должность     44742 non-null  object
 9   Образование и ВУЗ                44744 non-null  object
 10  Обновление резюме                44744 non-null  object
 11  Авто                             44744 non-null  object
dtypes: object(12)
memory usage: 4.1+ MB

None

In [931]:
hh_data['Опыт работы'].describe() # методом describe видим число уникальных значений в столбце "Опыт работы" = 44413

count                                                 44576
unique                                                44413
top       Опыт работы 10 лет 8 месяцев  Апрель 2018 — по...
freq                                                      3
Name: Опыт работы, dtype: object

In [932]:
hh_data['Ищет работу на должность:'].mode() # находим методом mode самое распространенное значение в столбце о желаемой должности

0    Системный администратор
Name: Ищет работу на должность:, dtype: object

In [933]:
# lambda-функция разделающаа строку на отдельные слова
education_separate = lambda x: x.split(' ')
# применяем функцию к нужному нам столбцу
hh_data['Образование и ВУЗ'] = hh_data['Образование и ВУЗ'].apply(education_separate)

In [934]:
education_update = lambda x: x[0] if x[0] == 'Высшее' or x[1] == 'образование' else x[0] +' '+ x[1]
hh_data['Образование'] = hh_data['Образование и ВУЗ'].apply(education_update)

display(hh_data['Образование'].unique())

display(hh_data[hh_data['Образование'] == 'Среднее'].shape[0])

hh_data = hh_data.drop(['Образование и ВУЗ'], axis=1)

array(['Неоконченное высшее', 'Высшее', 'Среднее специальное', 'Среднее'],
      dtype=object)

559

In [935]:
# Пишем функцию, которая будет определять пол по первому символу в строке: М - мужской, Ж - женский
gender_sign_function = lambda x: x[0]
# И применяем ее, создавая новый признак 'Пол'
hh_data['Пол'] = hh_data['Пол, возраст'].apply(gender_sign_function)

# Пишем функцию разделяющую строку по символам ',' на отдельные слова и применяем ее
split_func = lambda x: x.split(',')
hh_data['Пол, возраст'] = hh_data['Пол, возраст'].apply(split_func)

# Далее создаем функцию, выделяющуу возраст и преобразующуу его в целое число 
age_func = lambda x: int(x[1][2] + x[1][3])
# Применяем ее, создавая новый признак 'Возраст'
hh_data['Возраст'] = hh_data['Пол, возраст'].apply(age_func)

In [936]:
# Находим процент женских анкет от общего количества, находим средний возраст по анкетам.
print(round(hh_data['Пол'].value_counts(normalize=True)['Ж'] * 100, 2))

display(round(hh_data['Возраст'].mean(), 1))

hh_data = hh_data.drop(['Пол, возраст'], axis=1)

19.07

32.2

In [937]:
def experience_work(x):
    """Функция принимает признак с описание места и опыта работы,
    и возвращает числовой признак опыта работы в месяцах.

    Args:
        x (Признак в Data Frame): Признак с полным описние места работы и опыта работы в 
        годах и/или месяцах.

    Returns:
        int: Числовой признак опыта работы в месяцах.
    """
    if x is np.nan or x == 'Не указано': # Находим пустые и скрытые пустые значения и заменяем их None
        return None
    
    years = ['год', 'года', 'лет'] # Вспомогательный список слов опыта в годах
    mounths = ['месяц', 'месяцев', 'месяца'] # Вспомогательный список слов опыта в месяцах
    years_exp = 0
    mounths_exp = 0
    x_splited = x.split(' ')[:7] # Разделяем строку и оставляем первые 6 элементов с интересующей нас информацией
    
    for index, elem in enumerate(x_splited):
        if elem in years: # Если элемент есть в списке years, преобразуем предыдущий элемент опыта в годах в число
            years_exp = int(x_splited[index-1])
        if elem in mounths: # Если элемент есть в списке mounths, преобразуем предыдущий элемент опыта в месяцах в число
            mounths_exp = int(x_splited[index-1]) 
                 
    return (years_exp*12 + mounths_exp) # Возвращаем суммарный опыт работы

In [938]:
# Создаем новый признак, применяя нашу функцию к имеющимуся признаку "Опыт работы"
hh_data['Опыт работы(месяц)'] = hh_data['Опыт работы'].apply(experience_work)

In [939]:
# Задание 3.3
# Находим медианное значение опыта работы
display(hh_data['Опыт работы(месяц)'].median())
hh_data = hh_data.drop(['Опыт работы'], axis=1) # Удаляем признак "Опыт работы"

100.0

In [940]:
def cities(y):
    """Функция принимает на вход признак Data Frame и возвращает информацию только по городам
    проживания соискателей.

    Args:
        y (Признак в Data Frame): Признак включающий в себя информацию о городе проживания, метро,
        готовности к переезду и готовности к командировкам.

    Returns:
        Строковое название города: Возвращает 4 категории: Москва, Санкт-Петербург, город-миллионник, другие.
    """
    y_splited = y.split(' , ') # Разделяем строку по запятой с пробелами
    grand_cities = ['Москва', 'Санкт-Петербург'] # Вспомогательний список крупнейших городов-категорий
    # Вспомогательний список городов-миллионников
    million_cities = ['Новосибирск', 'Екатеринбург', 'Нижний Новгород', 'Казань', 'Челябинск', 'Омск', 'Самара', 'Ростов-на-Дону', 'Уфа', 'Красноярск', 'Пермь', 'Воронеж', 'Волгоград' ]
    if y_splited[0] in grand_cities:
        return y_splited[0]
    elif y_splited[0] in million_cities:
        return 'город-миллионник'
    else:
        return 'другие'

# Создаем новый признак "Город", применяя функцию к исходному признаку   
hh_data['Город'] = hh_data['Город, переезд, командировки'].apply(cities)

In [941]:
def get_moving(y):
    """Функция принимает на вход признак Data Frame и возвращает булевые значения готовности к перезду.

    Args:
        y (Признак в Data Frame): Признак включающий в себя информацию о городе проживания, метро,
        готовности к переезду и готовности к командировкам.

    Returns:
        bool: Булевое значение только по готовности к переезду.
    """
    y_splited = y.replace(' ', '').split(',') # Убираем пропуски и делим строку по ","
    if len(y_splited) > 3: # Если длина списка больше 3, тоесть присуствует указание о станции метро
        if y_splited[2][0:2] == 'не': # сравниваем 2 первых знака третьего элемента в списке
            return False              # готовность к переезду начинается с 'не'
        else:
            return True
    else:
        if y_splited[1][0:2] == 'не':
            return False
        else:
            return True    

# Создаем новый признак "Готовность к переезду", применяя функцию к исходному признаку        
hh_data['Готовность к переезду'] = hh_data['Город, переезд, командировки'].apply(get_moving)

In [942]:
def get_buissnes_trip(y):
    """Функция принимает на вход признак Data Frame и возвращает булевые значения готовности к командировкам.

    Args:
        y (Признак в Data Frame): Признак включающий в себя информацию о городе проживания, метро,
        готовности к переезду и готовности к командировкам.

    Returns:
        bool: Булевое значение только по готовности к командировкам.
    """
    y_splited = y.replace(' ', '').split(',') # Убираем пропуски и делим строку по ","
    if len(y_splited) > 3: # Если длина списка больше 3, тоесть присуствует указание о станции метро
        if y_splited[3][0:2] == 'не': # сравниваем 2 первых знака четвертого элемента в списке
            return False              # готовность к командировкам начинается с 'не'
        else:
            return True
    else:
        if y_splited[-1][0:2] == 'не':
            return False
        else:
            return True   
        
# Создаем новый признак "Готовность к командировкам", применяя функцию к исходному признаку
hh_data['Готовность к командировкам'] = hh_data['Город, переезд, командировки'].apply(get_buissnes_trip)

In [943]:
# Находим процент соискателей, проживающих в Санкт-Петербурге
print(round(hh_data['Город'].value_counts(normalize=True)['Санкт-Петербург'] * 100))

# Находим процент соискателей готовых одновременно и к переезду и к командировкам от общего количества
mask_1 = hh_data['Готовность к командировкам'] == True
mask_2 = hh_data['Готовность к переезду'] == True
print(round(((hh_data[mask_1 & mask_2].shape[0])/hh_data.shape[0])*100))

# Удаляем исходный признак
hh_data = hh_data.drop(['Город, переезд, командировки'], axis=1)

11
32

In [944]:
#Создаем функцию, разделяющую строку по запятой и пробелу
func_splited = lambda x: x.split(', ')
# Применяем ее к признакам "Занятость" и "График"
hh_data['Занятость'] = hh_data['Занятость'].apply(func_splited)
hh_data['График'] = hh_data['График'].apply(func_splited)

# определяем уникальные категории для интересующих нас признаков, и создаем из них список
metrics_employment = hh_data['Занятость'].value_counts().sort_index(key=lambda x: x.str.len(), ascending=False).index[0]
metrics_schedule = hh_data['График'].value_counts().sort_index(key=lambda x: x.str.len(), ascending=False).index[0]

# Создаем новые признаки из исходного признака "Занятость"
# Новые признаки будут содержать в себе значения True и False
for employment in metrics_employment:
    hh_data[employment] = hh_data['Занятость'].apply(lambda x: employment in x if x else False)

# Создаем новые признаки из исходного признака "График"
# Новые признаки будут содержать в себе значения True и False
for schedule in metrics_schedule:
    hh_data[schedule] = hh_data['График'].apply(lambda x: schedule in x if x else False)

In [945]:
# Задание 3.5

# Находим количество людей, ищущих проектную работу и волонтерство
print(hh_data[(hh_data['проектная работа'] == True) & (hh_data['волонтерство'] == True)].shape[0])

# Находим количетсво людей, которые хотят работать вахтовым методом и с гибким графиком
print(hh_data[(hh_data['вахтовый метод'] == True) & (hh_data['гибкий график'] == True)].shape[0])

# Удаляем исходные признаки
hh_data.drop(['Занятость', 'График'], axis=1)

436
2311

,ЗП,Ищет работу на должность:,Последнее/нынешнее место работы,Последняя/нынешняя должность,Обновление резюме,Авто,Образование,Пол,Возраст,Опыт работы(месяц),...,стажировка,волонтерство,частичная занятость,проектная работа,полная занятость,вахтовый метод,удаленная работа,гибкий график,полный день,сменный график
0,29000 руб.,Системный администратор,"МАОУ ""СОШ № 1 г.Немана""",Системный администратор,16.04.2019 15:59,Имеется собственный автомобиль,Неоконченное высшее,М,39,202.0,...,False,False,True,True,True,True,True,True,True,True
1,40000 руб.,Технический писатель,Временный трудовой коллектив,"Менеджер проекта, Аналитик, Технический писатель",12.04.2019 08:42,Не указано,Высшее,М,60,233.0,...,False,False,True,True,True,False,True,True,True,True
2,20000 руб.,Оператор,ПАО Сбербанк,Кассир-операционист,16.04.2019 08:35,Не указано,Среднее специальное,Ж,36,123.0,...,False,False,False,False,True,False,False,False,True,False
3,100000 руб.,Веб-разработчик (HTML / CSS / JS / PHP / базы ...,OpenSoft,Инженер-программист,08.04.2019 14:23,Не указано,Высшее,М,38,225.0,...,False,False,True,True,True,False,True,True,False,False
4,140000 руб.,Региональный менеджер по продажам,Мармелад,Менеджер по продажам,22.04.2019 10:32,Не указано,Высшее,Ж,26,67.0,...,False,False,False,False,True,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
44739,50000 руб.,"Финансист, аналитик, экономист, бухгалтер, мен...","ООО ""IAS"" (независимый участник объединения Ru...",Руководитель субгруппы,22.04.2019 12:32,Не указано,Высшее,М,30,91.0,...,False,False,False,False,True,False,True,False,True,False
44740,39000 руб.,"Системный администратор, IT-специалист",ИП Пестрецов,Предприниматель,22.04.2019 13:11,Не указано,Высшее,М,27,84.0,...,False,False,True,True,True,False,True,True,True,True
44741,40000 руб.,"Аналитик данных, Математик","ОАО «ЧМК», Исследовательско-Технологический Це...",Начальник группы аналитики,09.04.2019 05:07,Не указано,Высшее,Ж,48,257.0,...,False,False,False,False,True,False,True,False,True,False
44742,20000 руб.,Контент-менеджер,IQ-Maxima,Менеджер проектов,26.04.2019 14:25,Имеется собственный автомобиль,Высшее,М,24,46.0,...,False,False,True,False,True,False,True,False,False,False
44743,120000 руб.,Руководитель проекта,ПАО ГК ТНС энерго,Руководитель отдела технической поддержки,05.07.2018 20:15,Не указано,Высшее,М,38,190.0,...,False,False,False,False,True,False,False,False,True,False

# 6

In [946]:
exchange_rates_df = pd.read_csv('C:\IDE\data\Project -1\ExchangeRates.csv')

In [947]:
display(exchange_rates_df.head(5))

  currency per      date   time    close  vol  proportion
0      USD   D  29/12/17  00:00  57.6291    0           1
1      USD   D  30/12/17  00:00  57.6002    0           1
2      USD   D  31/12/17  00:00  57.6002    0           1
3      USD   D  01/01/18  00:00  57.6002    0           1
4      USD   D  02/01/18  00:00  57.6002    0           1

In [948]:
date_split = lambda x: x.split(' ')
only_date = lambda x: x[0]
hh_data['Обновление резюме'] = hh_data['Обновление резюме'].apply(date_split)

In [949]:
hh_data['Обновление резюме'] = hh_data['Обновление резюме'].apply(only_date)

In [950]:
hh_data['Обновление резюме'] = pd.to_datetime(hh_data['Обновление резюме'], dayfirst=True)

In [951]:
exchange_rates_df['date'] = pd.to_datetime(exchange_rates_df['date'], dayfirst=True)

C:\Users\Smoking Shop\AppData\Local\Temp\ipykernel_7696\1146327511.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  exchange_rates_df['date'] = pd.to_datetime(exchange_rates_df['date'], dayfirst=True)

In [952]:
salary_split = lambda x: x.split(' ')
hh_data['ЗП'] = hh_data['ЗП'].apply(salary_split)

In [953]:
currance_name = lambda x: x[-1]
hh_data['Валюта'] = hh_data['ЗП'].apply(currance_name)

In [954]:
salary = lambda x: int(x[0])
hh_data['ЗП'] = hh_data['ЗП'].apply(salary)

In [955]:
currance_iso = {'руб.' : 'RUB', 'бел.руб.' : 'BYN', 'грн.' : 'UAH', 'сум' : 'UZS'}
def currancy(value):
    
    if value in currance_iso.keys():
        value = currance_iso[value]
        return value
    else:
        return value     
print(currance_iso.values())

dict_values(['RUB', 'BYN', 'UAH', 'UZS'])

In [956]:
hh_data['Валюта'] = hh_data['Валюта'].apply(currancy)

In [959]:
display(hh_data['Валюта'])

0        RUB
1        RUB
2        RUB
3        RUB
4        RUB
        ...
44739    RUB
44740    RUB
44741    RUB
44742    RUB
44743    RUB
Name: Валюта, Length: 44744, dtype: object

In [958]:
display(exchange_rates_df['currency'])

0       USD
1       USD
2       USD
3       USD
4       USD
       ...
5659    AZN
5660    AZN
5661    AZN
5662    AZN
5663    AZN
Name: currency, Length: 5664, dtype: object